* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 1024px;
  min-height: 780px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-grow: 1;
  & main {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    padding: 2em;
    overflow: hidden;
    gap: 2em;
  }
}

h1 {
  font-size: 48px;
}
